@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "The Sims Sans";
		font-weight: bold;
		src: url("../font/The_Sims_Sans-Bold.otf");
	}
	@font-face {
		font-family: "The Sims Sans";
		font-style: normal;
		src: url("../font/The_Sims_Sans.otf");
	}
	html {
		@apply leading-none text-white bg-darklight;
	}
	h1 {
		@apply text-3xl font-bold;
	}
	h2 {
		@apply text-2xl font-bold;
	}
	h3 {
		@apply text-xl font-bold;
	}
	p {
		@apply leading-normal;
	}
}

@layer components {
	.btn-primary {
		@apply inline-block p-2 text-center uppercase rounded-lg bg-pinked;
	}
	::-webkit-scrollbar {
		width: 8px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		@apply bg-darked;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		@apply rounded-lg bg-pinked;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		@apply bg-pinked;
	}
}

/* Swiper nav */
.swiper,
.swiper-cheat {
	height: auto;
	width: 100%;
}

.nav-swiper {
	background-color: #171a29;
	padding: 5px 10px;
	font-size: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-left: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.nav-swiper i {
	font-weight: 900;
}
/* DropDown Menu */
.line {
	fill: none;
	stroke: white;
	stroke-linecap: round;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}

.line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}

.opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}
