@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@layer base {
	@font-face {
		font-family: "The Sims Sans";
		font-weight: bold;
		src: url("../font/The_Sims_Sans-Bold.otf");
	}
	@font-face {
		font-family: "The Sims Sans";
		font-style: normal;
		src: url("../font/The_Sims_Sans.otf");
	}

	html {
		@apply text-white bg-darklight scroll-smooth;
	}
	body {
		@apply flex flex-col justify-between min-h-screen;
	}
	h1 {
		@apply mb-1 text-3xl font-bold;
	}
	h2 {
		@apply mb-1 text-2xl font-bold;
	}
	h3 {
		@apply text-xl font-bold;
	}
	p {
		@apply leading-normal;
	}
}

@layer components {
	.btn-primary {
		@apply inline-block p-[10px] text-center uppercase rounded-sm bg-pinked hover:scale-[102%] transition-all font-poppins font-semibold tracking-widest;
	}
	.btn-secondary {
		@apply inline-block p-[10px] text-center uppercase border-2 rounded-sm border-pinked hover:scale-[102%] transition-all font-poppins font-semibold tracking-widest;
	}
	.input-styled {
		@apply p-2 transition-all duration-700 border-2 border-gray-500 rounded-md outline-none resize-none focus:shadow-pink-500 hover:shadow-md focus:shadow-md hover:shadow-pink-500 bg-darked focus:border-pinked hover:border-pinked font-poppins;
	}
	.input-styled-upload {
		@apply p-2 border-2 border-gray-500 rounded-md outline-none resize-none font-poppins;
	}
	.container-main {
		@apply grid grid-cols-4 gap-4 mx-auto w-[90%] lg:text-left items-center text-center lg:text-left mb-24 lg:grid-cols-12 lg:gap-10 lg:w-[70%];
	}
	.navbar-wrap {
		@apply fixed z-50 w-screen py-4 bg-darked;
	}
	.navbar {
		@apply flex items-center justify-between w-[90%] lg:w-[70%] m-auto;
	}
	.footer-wrap {
		@apply grid w-full grid-cols-4 py-5 text-center justify-items-center bg-darked;
	}
}

/* Swiper nav */
.swiper,
.swiper-cheat {
	height: auto;
	width: 100%;
}

.nav-swiper {
	background-color: #171a29;
	padding: 5px 10px;
	font-size: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-left: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.nav-swiper i {
	font-weight: 900;
}
.swiper-slide {
	height: auto !important;
}
/* DropDown Menu */
.line {
	fill: none;
	stroke: white;
	stroke-linecap: round;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}

.line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}

.opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	@apply bg-darked;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply rounded-lg bg-pinked;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply bg-pinked;
}

input[type="file"]::-webkit-file-upload-button {
	@apply inline-block border-0 p-[10px] mr-4 text-center uppercase rounded-sm bg-pinked hover:scale-[102%] transition-all text-white font-poppins font-semibold tracking-widest;
}
